body{
    background: blueviolet;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
}

.circle{
    left: 50%;
    top: 50%;
    height:20px;
    width: 20px;
    background: #fff;
    border-radius: 50% ;
    position: absolute;
    animation: anim 2s linear infinite;
}

.circle_container {
    height: 200px;
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%) ;

}

.circle_container:after{
    position: absolute;
    content: '';
    height: 5px;
    width: 20px;
    bottom: 0;
    left:50%;
    border-radius: 50%;
    opacity: 0.3;
    filter: blur(0.5px);
    background: black;
    animation: shadow 2s linear infinite;
}

.circle_container:nth-child(2) .circle{
    animation-delay: -0.3s;
}

.circle_container:nth-child(2):after{
    animation-delay: -0.3s;
}


.circle_container:nth-child(3) .circle{
    animation-delay: -0.6s;
}
.circle_container:nth-child(3):after{
    animation-delay: -0.6s ;
}

@keyframes anim {
    0% {
          transform-origin: 400% 50% ;
          transform: rotate(0)
    }

    50% {
        transform-origin: 400% 50% ;
        transform: rotate(-360deg)
    }

    50.001% {
        transform-origin: -300% 50% ;
        transform: rotate(0)
    }

    100% {
        transform-origin: -300% 50% ;
        transform: rotate(360deg)
    }

}

@keyframes shadow {

    0%{}
    12.5%{ transform: translate(50px) scale(1.4)}
    25%{ transform: translate(130px)}
    37.5%{transform: translate(50px) scale(0.6)}
    50%{transform: translate(0px)}
    62.5%{transform: translate(-50px)scale(1.4)}
    75%{transform: translate(-130px)}
    87.5%{transform: translate(-50px) scale(0.6)}
    100%{transform: translate(0px)}
}

@media (max-width: 720px){
    .circle_container{
        width: 100%;
    }
}